
html{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
#network0{
    float: left;
    height:80%;
    width: 80%;
    background-color: #ffffff;
}
#network1{
    float: left;
    height: 80%;
    width: 80%;
}
#network2{
    float: left;
    height: 80%;
    width: 80%;
}
#network3{
    float: left;
    height: 80%;
    width: 80%;
}
#network4{
    float: left;
    height: 80%;
    width: 80%;
}
#network5{
    float: left;
    height: 80%;
    width: 80%;
}
#network6{
    float: left;
    height: 80%;
    width: 80%;
}
#network7{
    float: left;
    height: 80%;
    width: 80%;
}
#network8{
    float: left;
    height: 80%;
    width: 80%;
}
#kde{
    float: left;
    height: 50%;
    width: 30%;
    background-color:white;
}
#sam_network{
    float: left;
    height: 50%;
    width: 30%;
}
#sam_kde{
    float: left;
    height: 50%;
    width: 30%;
    background-color:white;
}

.kdtext{
    /* font-family:Arial, Helvetica, sans-serif;  */
    font-size:12px;
    stroke:rgb(0,122,244);
    line-height:35px;

}
.lentext{
    /* font-family:Arial, Helvetica, sans-serif;  */
    font-size:13px;
    color:#5f5f5f;
    background-color: #b14f4f;
    line-height:55px;
    text-shadow: 1px -1px rgb(87, 83, 83), 0.1px -1px rgb(133, 129, 129);
}
